 
.badge-soft-warning { background-color: #fff8dd; color: #ffc107; }
.badge-soft-success { background-color: #d1e7dd; color: #0f5132; }
.badge-soft-danger { background-color: #f8d7da; color: #842029; }
.badge-soft-info { background-color: #cff4fc; color: #055160; }
.badge-soft-secondary { background-color: #e2e3e5; color: #41464b; }

.table-hover tbody tr:hover { background-color: #f8f9fa; transition: 0.3s; }
.action-btn { width: 35px; height: 35px; border-radius: 50%; display: inline-flex; align-items: center; justify-content: center; margin: 0 2px; }
.btn-detail {
    background-color: #0f77e0;
    color: #fff;
}
.btn-detail:hover {
    background-color: #0160c0;
    color: #c2c2c2;
}
.btn-primary {
    background-color: #0f77e0;
    color: #fff;
}
.btn-primary:hover {
    background-color: #0160c0;
    color: #c2c2c2;
}


 