 
    .order-card,.order-box {
        background: white;
        border-radius: 12px;
        margin-bottom: 20px;
        padding-top: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
        overflow: hidden;
        transition: all 0.3s ease;
        }
         .order-card:hover {
            box-shadow: 0 4px 16px rgba(0,0,0,0.12);
            transform: translateY(-2px);
        }
        .section-header {
            /* background: #f1f2f2; */
            background: #faf9f9e7;
            padding: 16px 18px;
            border-bottom: 1px solid #e9ecef;
            border-radius: 8px;
            display:flex;
            justify-content:space-between;
            align-items:center;
        }
 